on:
  push:
    branches:
      - main
  pull_request:

name: x86_64-darwin
jobs:
  flake-check:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
      - name: Flake check
        run: nix flake check

  tests:
    runs-on: macos-15-intel
    needs:
      - flake-check
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
      - name: run tests
        run: nix develop --command make test
